.sub-header {
  min-height: 100vh;
  padding-top: 5rem;
}

.sub-header .outer {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 50px;
}

.sub-header .inner p {
  margin-block-end: 1rem;
}

.sub-header img {
  border: none;
  overflow: hidden;
  border-radius: 50%;
  margin-inline: auto;
}

.list span {
  background-color: var(--shadow-blue);
  color: #fff;
  padding: 0 1rem;
  border-radius: 2rem;
  line-height: 2.5rem;
}

.sub-header h4 {
  margin-bottom: 0.5rem;
}

.sub-header .profile {
  text-align: center;
}

.sub-header .list {
  display: flex;
  gap: 0.51rem;
  flex-wrap: wrap;
}

@media (max-width: 700px) {
  .sub-header .outer {
    display: block;
  }
}
