header {
  background: rgb(10, 25, 67);
  padding: 0.5rem 2rem;
  position: fixed;
  width: 100vw;

  /* box-shadow: 0 10px 30px -10px rgba(2, 12, 27, 0.7); */
}

nav {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}

.hide {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  padding: 50px 10px;
  width: min(75vw, 400px);
  height: 100vh;
  outline: 0px;
  background-color: rgb(10, 25, 67);
  backdrop-filter: blur(1rem);
  z-index: 9;
  transform: translateX(100vw);
  visibility: hidden;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.show {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  padding: 50px 10px;
  width: min(75vw, 400px);
  height: 100vh;
  outline: 0px;
  background-color: rgb(13, 51, 156);
  box-shadow: -10px 0px 30px -15px rgba(2, 12, 27, 0.7);
  z-index: 22;
  transform: translateX(0vw);
  visibility: visible;
  transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1);
}

aside nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

aside nav ul {
  display: flex;
  /* height: 100%; */

  flex-direction: column;
  gap: 4rem;
  /* padding: min(30vh, 8rem) 2rem; */
}

aside a {
  text-decoration: none;
}

.nav-links {
  display: flex;
  gap: clamp(1rem, 4vw, 3rem);
}

.nav-links a {
  text-decoration: none;
  font-size: 0.9rem;
}

.hamburger {
  position: relative;
  display: block;
  width: 25px;
  cursor: pointer;
  margin-block: 1rem;
  z-index: 9999;

  appearance: none;
  background: none;
  outline: none;
  border: none;
}

.hamburger .bar,
.hamburger::after,
.hamburger::before {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  border-radius: 2px;
  background-color: #fff;
  margin: 4px 0;
  transition: 0.4s;
}

.hamburger.is-active::before {
  transform: rotate(-45deg) translate(-3px, 6px);
  background-color: #fff;
}

.hamburger.is-active::after {
  transform: rotate(45deg) translate(-4px, -7px);
  background-color: #fff;
}

.hamburger.is-active .bar {
  opacity: 0;
}

.resume {
  background-color: transparent;
  padding: 0.5rem 1.2rem;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 6px;
  cursor: pointer;
  font-family: inherit;
  transition: 200ms ease-out;
}

.resume:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
/* .nav-active {
  transform: translateX(0);
} */

@media (min-width: 770px) {
  .hamburger {
    display: none;
  }
}

@media (max-width: 778px) {
  .nav-links {
    display: none;
  }
  /* .nav-links {
    position: absolute;
    right: 0;
    top: 2rem;
    height: 100vh;
    margin-block: 0;
    width: 70%;
    flex-direction: column;
    padding: min(30vh, 8rem) 2rem;
    align-items: center;
    background-color: blue;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  } */

  /* .nav-active {
    transform: translateX(0);
  } */

  /* .nav-links li {
    opacity: 0;
  } */

  .burger {
    display: block;
  }
}
